@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.links {
  text-decoration: none;
  color: inherit;
}
.links:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* heading  */
.header {
  display: flex;
  justify-content: space-between;
  padding: 35px 50px;
  background-color: #222831;
  color: #EEEEEE;
  font-size: 20px;
}
.header .title {
  font-size: 30px;
  font-family: "Nova Mono", monospace;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #00ADB5;
}
.categories .category {
  padding: 20px 70px;
  font-size: 18px;
  cursor: pointer;
}
.categories .category:hover {
  background-color: #222831;
  color: white;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: #222831;
}
.search .s-i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.search .s-i input {
  padding: 10px;
  margin: 15px;
  width: 50%;
  font-size: 27px;
  border: none;
  border-radius: 29px;
  background-color: #EEEEEE;
}
.search .s-i button {
  padding: 5px 35px;
  margin: 10px;
  font-size: 22px;
  color: white;
  background-color: #393E46;
  border: none;
  border-radius: 50px;
}
.search .s-i button:hover {
  background-color: #00ADB5;
}

.s-r {
  z-index: 2;
  top: 40%;
  left: 23%;
  width: 45%;
  height: 200px;
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
}
.s-r .s-r-2 {
  padding: 15px;
  width: 95%;
  border-bottom: 0.5px solid black;
  background-color: white;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 40px;
  background-color: #222831;
}
.products .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EEEEEE;
  margin: 40px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: #00ADB5 5px 5px 5px;
}
.products .product:hover {
  background-color: #393E46;
  color: #EEEEEE;
  cursor: pointer;
}
.products .product img {
  height: 300px;
  width: 250px;
  padding: 25px;
}

.back-div {
  background-color: #EEEEEE;
  padding: 50px;
}

.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  background-color: #EEEEEE;
  height: 100%;
}
.product-page img {
  width: 50%;
  padding: 40px;
  height: 40%;
}
.product-page .product-details {
  width: 70%;
  border: solid 1px #222831;
  border-radius: 10px;
  padding: 40px;
  margin: 80px 0;
}
.product-page .product-details .product-title {
  font-size: 40px;
}
.product-page .product-details .product-category {
  font-size: 18px;
  padding-bottom: 80px;
}
.product-page .product-details .product-desc {
  padding: 10px 0;
}
.product-page .product-details .cart-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-page .product-details .cart-div .product-price {
  font-size: 24px;
}
.product-page .product-details .cart-div .cart-btn {
  padding: 20px;
  background-color: #222831;
  border: none;
  border-radius: 10px;
  color: #EEEEEE;
  font-size: 24px;
}
.product-page .product-details .cart-div .cart-btn:hover {
  background-color: #00ADB5;
}
.cart-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EEEEEE;
  padding: 100px;
}
.cart-page .cart-products {
  width: 60%;
  border: none;
  box-shadow: #00ADB5 5px 5px 5px;
  border-radius: 2px;
  background-color: #222831;
}
.cart-page .cart-total {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: none;
  background-color: #222831;
  color: white;
  box-shadow: #00ADB5 5px 5px 5px;
  border-radius: 2px;
  width: 30%;
  padding: 30px;
  height: 10%;
}
.cart-page .cart-total .cart-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-page .cart-total .checkout-btn {
  border: none;
  background-color: #00ADB5;
  border-radius: 3px;
  padding: 5px;
}

.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px;
  background-color: #EEEEEE;
}
.cart-product img {
  width: 20%;
}
.cart-product .cp-info-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200%;
}
.cart-product .cp-title {
  font-size: 20px;
}
.cart-product .cp-info-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
}

/*# sourceMappingURL=index.css.map */
